 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/book.css" asp-append-version="true" />
</head>

<body>
    <div class="Two_items">
    <div class="11Booked">
             <img src="~/Images/tick.png" width=200 height=200 alt="">

        </div>
        <div class="11bookedmsg">
           <p>Technician Booked</p>
            </div>




        </div>
     </body>