@using TechnoSewa.Models;
@Model Book


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_class_technician">
    
    ><h2>Dashboard</h2>


   @* @foreach (var item in Model)
    {
              <div  class="container" > 
                      <div class="imgage_inside_box">

                             <img src="~/Images/noprofile.jpg" width=25 height=25 alt="..">
                       </div>
                   <div  class="technician_data">  
                       <div class="One_Technician1"> @Html.DisplayNameFor(model => model.UserName):

                    @Html.DisplayFor(modelItem => item.UserName)<p>requested for service.</p>
                    </div>
                       <br>
                  
                         <a asp-action="Accept" >Accept</a> 
                              <a asp-action="Decline" >Decline</a>
                          </div>

                 </div>
                 </div>*@


            
    }








</div>